.navebar-backcolor{
    background: rgb(163,211,217);
    background: linear-gradient(90deg, rgba(163,211,217,1) 0%, rgba(181,148,185,1) 35%, rgba(136,88,136,1) 100%);
}

.jumbotron-color{
    background: rgb(100,166,181);
background: linear-gradient(90deg, rgba(100,166,181,1) 0%, rgba(62,110,140,1) 35%, rgba(66,85,140,1) 100%);
}